body {
	margin: 0px;
}
/*NAVIGATION BAR*/
nav {
	background-color: rgba(0,0,0,0.8);
	text-align: center;
	padding: 1px;
	height: 32px;
	display: fixed;
}

nav ul {
	display: flex;
	list-style: none;
	margin:5px;
	padding: 0 80px;
	text-align: center;
}

nav ul li {
	flex: 1;
	text-decoration: none;

}

nav ul li a {
	color: white;
	text-decoration: none;
	font-family: "Arial" ;
	font-size: 11px;
}

i {
	font-size: 1.5em;
}

nav ul li a:hover {
	color: grey;
}

/*IPHONE X PICTURE*/
.iphoneX-image {
	text-align: center;
}
.iphoneX {
	width: 100%;
}

.redIphone-image {
	text-align: center;
}
.redIphone {
	width: 100%;
}

.box {
	display: inline-block;
	margin: 10px;
	background-color: #ffffb3;
	width: 100%;
	height: 100px;
}

.footer {
	background-color: #e0e0d1;
	border-top: solid #adad85;
}

.footer ul {
	text-align: center;
	display: flex;
	padding: 0 80px;
	margin-bottom: 0px;
}

.footer ul li {
	flex: 1;
	list-style: none;
	height: 30px;
}

.footer ul li a {
	text-decoration: none;
	color: #adad85;
	font-family: "Arial";
}